:target {
    display: block;
}

.docblock-short> :not(pre)>code,
.docblock> :not(pre)>code {
    color: var(--hl-0);
}

.docblock code,
.docblock-short code {
    background-color: var(--code-background);
}